body
{color: #40514E;
     margin: 0px;
text-align: center;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,serif;
}
/**************id selector**********/
#top{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}
.middle-container{
    margin: 100px 0;
}
.bottom-container{
    background-color: #66bfbf;
    padding: 50px 0 20px;
}
a{
    color: #11999e;
    font-family: 'montserrat',sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #eaf6f6;
}
hr{
    border: dotted lightgrey 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}
h1{font-family: 'sacramento',cursive;
    margin:50px auto 0px auto; 
    color: mediumvioletred;
    line-height: 2;
    font-size: 5.625rem;
}
h2{color: mediumvioletred;
    font-family: cursive;
    font-weight: normal;
    font-size: 2.5rem;
    padding-bottom: 10px;
    
}
h3{
    color: #11cdd4;
    font-family: 'montserrat',sans-serif;
}
.bottom-cloud{
    position: absolute; 
    left: 300px;
    bottom: 300px;
}
.top-cloud{
    position: absolute;
    top: 40px;
    right: 300px;
}
    .pic{
        width: 200px;
    }
    .cook{
        width:25%;
        float: left;
        padding-right: 20px;
    }
    .draw{
        width: 25%;
        float: right;
        padding-left: 20px;
    }
    .skill-row{
        width: 50%;
        margin: 100px auto 100px auto;
        text-align: left;
        line-height: 2;
    }
    .contact{
        margin: 40px auto 60px;
    }
    .copywrite{
        color: #eaf6f6;
        padding: 20px 0;
    }
    .btn {
        background: #11cdd4;
        background-image: -webkit-linear-gradient(top, #11cdd4, #11999a);
        background-image: -moz-linear-gradient(top, #11cdd4, #11999a);
        background-image: -ms-linear-gradient(top, #11cdd4, #11999a);
        background-image: -o-linear-gradient(top, #11cdd4, #11999a);
        background-image: linear-gradient(to bottom, #11cdd4, #11999a);
        -webkit-border-radius: 20;
        -moz-border-radius: 20;
        border-radius: 20px;
        font-family: 'montserrat',sans-serif;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
      }
      
      .btn:hover {
        background: #30e3cb;
        background-image: -webkit-linear-gradient(top, #30e3cb, #2bc48d);
        background-image: -moz-linear-gradient(top, #30e3cb, #2bc48d);
        background-image: -ms-linear-gradient(top, #30e3cb, #2bc48d);
        background-image: -o-linear-gradient(top, #30e3cb, #2bc48d);
        background-image: linear-gradient(to bottom, #30e3cb, #2bc48d);
        text-decoration: none;
      }
    